<!DOCTYPE html>
<html ng-app='myApp' xmlns="http://www.w3.org/1999/xhtml">
   <head>      
      <script type="text/javascript" src="libs/angular.js"></script>
      <script type="text/javascript" src="libs/mscorlib.js"></script>      
      <script type="text/javascript" src="Scripts/Saltarelle.AngularJS.js?1500"></script>
      <script type="text/javascript" src="Scripts/Examples.js?1500"></script>
      <script type="text/javascript">TestAngularJS.FundingExample.Main();</script>                         
   </head>
   <body>      
      <form ng-controller="StartUpController" ng-submit="requestFunding()" >  <!--ng-change="computeNeeded()"-->
         Starting: <input 
         ng-model="fundingStartingEstimate">
         Recommendation: {{fundingNeeded}}
         <button type="submit">Fund my startup!</button>
         <button type="button" ng-click="reset()">Reset</button>
      </form>
   </body>
</html>



