<!DOCTYPE html>
<html ng-app='myApp' xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <title>Your Shopping Cart</title>            
      <script type="text/javascript" src="libs/angular.js"></script>                  
      <script type="text/javascript" src="libs/mscorlib.js"></script>      
      <script type="text/javascript" src="Scripts/Saltarelle.AngularJS.js?1500"></script>
      <script type="text/javascript" src="Scripts/Examples.js?1500"></script>
      <script type="text/javascript">TestAngularJS.ShoppingCartExample.Main();</script>                         
   </head>
   <body>
      <div ng-controller="CartController as ctrl">
         <h1>Your Order</h1>
         <div ng-repeat="item in ctrl.items">
            <span>{{item.title}}</span>
            <input ng-model="item.quantity">
            <span>{{item.price | euro}}</span>
            <span>{{item.price * item.quantity | euro}}</span>
            <button ng-click="ctrl.remove($index)">Remove</button>
         </div>
         <div>Total: {{ctrl.totalCart() | currency}}</div>
         <div>Discount: {{ctrl.billDiscount | currency}}</div>
         <div>Subtotal: {{ctrl.subtotal() | currency}}</div>      
         <p>in pounds</p>
         <div>Total: {{ctrl.totalCart() | pounds }}</div>
         <div>Discount: {{ctrl.billDiscount | pounds }}</div>
         <div>Subtotal: {{ctrl.subtotal() | pounds }}</div>      
      </div>      
   </body>
</html>

